*[class^=col] {
  padding: 0;
}

p {
  margin: 0;
}

.margins {
  max-width: 1600px;
  margin: 0 auto;
}

.paddings {
  padding-left: 200px;
  padding-right: 200px;
}

.btn {
  min-width: 166px;
  min-height: 43px;
  line-height: 43px;
  padding: 0;
  -webkit-box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
          box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
  background-color: #1a9bdc;
  border-radius: 23px;
}

.btn.btn-primary {
  color: #ffffff;
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  border: none;
}

.header {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (max-content)[3];
      grid-template-columns: 1fr repeat(3, -webkit-max-content);
      grid-template-columns: 1fr repeat(3, max-content);
  grid-gap: 20px;
  border-bottom: 2px solid #c2c2c2;
}

.header .circle {
  float: left;
  width: 51px;
  height: 51px;
  background-color: #1a9bdc;
  border-radius: 50%;
}

.header .circle i {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  width: 100%;
}

.header p {
  margin-left: 60px;
  font-size: 15px;
  line-height: 22px;
  font-family: "Open Sans";
}

.header p:nth-child(odd) {
  padding-bottom: 5px;
  color: #6a6a6a;
  font-weight: 400;
}

.header p:nth-child(even) {
  padding-top: 5px;
  font-weight: 700;
}

.navigation {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

.navigation .nav .nav-item .nav-link {
  padding: 10px 20px;
  text-decoration: none;
  color: #6c6c6c;
  font-family: "Lato Bold";
  font-size: 20px;
  font-weight: 400;
}

.navigation .nav .nav-item .nav-link.active {
  color: #262626;
}

.navigation .nav .nav-item .nav-link:hover {
  color: #262626;
}

.navigation .social {
  text-align: right;
  color: #191919;
  font-size: 23px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

.navigation .social i {
  margin-left: 15px;
}

.banner {
  background: -webkit-gradient(linear, left top, right top, from(#cfd7e8), to(#cbd4e6));
  background: linear-gradient(to right, #cfd7e8, #cbd4e6);
}

.banner .banner-bg {
  background: url(../img/banner-bg.png) left center no-repeat;
}

.banner .banner-content {
  height: 640px;
}

.banner .banner-content .h2 {
  color: #474747;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1.19px;
}

.banner .banner-content .text {
  margin: 40px 0;
  color: #3f3f3f;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.services-bg {
  background: -webkit-gradient(linear, left top, right top, from(#43b1d2), to(#37c3a8));
  background: linear-gradient(to right, #43b1d2, #37c3a8);
}

.services-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.services-content section {
  text-align: center;
  padding: 60px;
}

.services-content section:nth-child(1) {
  background-color: #43b1d2;
}

.services-content section:nth-child(2) {
  background-color: #3fb6c6;
}

.services-content section:nth-child(3) {
  background-color: #3cbbbb;
}

.services-content section:nth-child(4) {
  background-color: #37c3a8;
}

.services-content section .h2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0;
  letter-spacing: -1.82px;
}

.services-content section p {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.choose-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.choose-grid .choose-main {
  grid-column: 1/-1;
  text-align: center;
  padding-top: 100px;
}

.choose-grid .choose-main h2 {
  color: #494949;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.choose-grid .choose-main p {
  max-width: 80%;
  margin: 0 auto;
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.choose-grid .choose-girl {
  grid-row: 2/-1;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.choose-grid .choose {
  padding-top: 90px;
}

.choose-grid .choose img {
  float: left;
}

.choose-grid .choose h2 {
  color: #6f6f6e;
  font-family: Montserrat;
  margin-left: 95px;
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.82px;
}

.choose-grid .choose p {
  padding-top: 20px;
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.feature-bg {
  background: url(../img/feature_bg.png) center center no-repeat, #0087be;
  background-size: cover;
  background-blend-mode: multiply;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.feature section {
  padding: 150px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
}

.feature section h2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -1.19px;
}

.feature section p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1.52px;
}

.feature section .hr {
  width: 30%;
  height: 6px;
  background: #ffffff;
}

.treatment-content {
  display: -ms-grid;
  display: grid;
  padding: 100px 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
      grid-template-areas: "header-1 header-1 header-2" "block block details";
}

.treatment-content .treatment-header-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header-1;
}

.treatment-content .treatment-header-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-2;
}

.treatment-content .treatment-header-1 .h2,
.treatment-content .treatment-header-2 .h2 {
  color: #494949;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
}

.treatment-content .treatment-header-1 .text,
.treatment-content .treatment-header-2 .text {
  margin-top: 40px;
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
  line-height: 30px;
}

.treatment-content .treatment-block {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: block;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
}

.treatment-content .treatment-block img {
  width: 100%;
}

.treatment-content .treatment-block .h2 {
  color: #6f6f6e;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1.21px;
  margin: 35px 0 10px 0;
}

.treatment-content .treatment-block .author {
  color: #0087be;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.38px;
}

.treatment-content .treatment-block .text {
  margin-top: 25px;
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.treatment-content .treatment-block .btn-wrap {
  grid-column: 1/-1;
}

.treatment-content .details {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: details;
}

.treatment-content .details details {
  margin-bottom: 12px;
}

.treatment-content .details details p {
  margin: 20px 0 40px 0;
}

.treatment-content .details details[open] summary {
  background-color: #0087be;
}

.treatment-content .details details[open] summary span {
  color: #fff;
}

.treatment-content .details details[open] summary:hover {
  background-color: #e2e2e2;
}

.treatment-content .details details[open] summary:hover span {
  color: #494949;
}

.treatment-content .details details summary {
  background: #e2e2e2;
  border-radius: 27px;
  height: 54px;
  cursor: pointer;
}

.treatment-content .details details summary::-webkit-details-marker {
  display: none;
}

.treatment-content .details details summary:focus {
  outline: none;
}

.treatment-content .details details summary:hover {
  background-color: #0087be;
}

.treatment-content .details details summary:hover span {
  color: #fff;
}

.treatment-content .details details summary i {
  margin: 7px 20px 7px 7px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  padding-left: 4px;
  color: #0087be;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
}

.treatment-content .details details summary span {
  color: #494949;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
}

.gallery-bg {
  background: url(../img/gallery-bg.png) center center no-repeat, #38b69e;
  background-size: cover;
  background-blend-mode: color-burn;
}

.gallery-content {
  padding: 90px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 40px;
}

.gallery-content .h2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
  grid-column: 1/-1;
}

.gallery-content .text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  grid-column: 1/-1;
}

.gallery-content img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */