@font-face {
  font-family: SocialIco;
  src: url("../fonts/Socialico.ttf");
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.pad-50 {
  padding: 50px 35px;
}

.bg-dark {
  background-color: #445162;
}

.bg-white {
  background-color: #f5f5f5;
}

.bg-gray {
  background-color: #ccc;
}

.h1 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
}

.h2 {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.h3 {
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.header .headerProductImg {
  width: 100%;
}

.header .h1 {
  margin: 0;
}

.header .product-list {
  margin-top: 28px;
  list-style: none;
  padding-left: 0;
}

.header .product-list .product-item {
  position: relative;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  padding-left: 35px;
}

.header .product-list .product-item:before {
  position: absolute;
  display: block;
  content: '';
  background: url(../img/check_icon.png) center center no-repeat;
  width: 24px;
  height: 100%;
  left: 0;
  top: 0;
}

.about .h2 {
  margin-bottom: 30px;
}

.about p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about p:first-child {
  margin-bottom: 15px;
}

.about .aboutProductImg {
  width: 100%;
}

.pluses .h2 {
  width: 100%;
  margin-bottom: 30px;
}

.pluses .plus-item {
  background: url(../img/plus_icon.gif) no-repeat left 5px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 40px;
  text-align: justify;
}

.pluses .col-6 {
  margin-top: 35px;
}

.pluses .col-6:nth-of-type(-n+2) {
  margin-top: 0;
}

.pluses .col-6:nth-of-type(odd) {
  padding-right: 8px;
}

.pluses .col-6:nth-of-type(even) {
  padding-left: 8px;
}

.screenshots .h2 {
  margin-bottom: 30px;
}

.screenshots .screenshot-item {
  margin-top: 30px;
}

.screenshots .screenshot-item .screenshot-img {
  float: left;
  margin-right: 15px;
}

.screenshots .screenshot-item .h3 {
  margin: 0;
}

.screenshots .screenshot-item p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  margin: 0;
}

.screenshots .screenshot-item:after {
  display: table;
  content: '';
  clear: both;
}

.screenshots .screenshot-item:nth-of-type(-n+2) {
  margin-top: 0;
}

.screenshots .screenshot-item:nth-of-type(odd) {
  padding-right: 8px;
}

.screenshots .screenshot-item:nth-of-type(even) {
  padding-left: 8px;
}

.reviews .h2 {
  margin-bottom: 30px;
}

.reviews .review-item {
  margin-top: 20px;
}

.reviews .review-item .review-img {
  border-radius: 50%;
  float: left;
}

.reviews .review-item blockquote {
  float: right;
  max-width: calc(100% - 110px);
  position: relative;
  background: #ebebeb;
  border-radius: 4px;
  padding: 16px;
  margin: 0;
}

.reviews .review-item blockquote p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.reviews .review-item blockquote .author {
  color: #989898;
}

.reviews .review-item blockquote:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 27px;
  background: #ebebeb;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .review-item:after {
  content: '';
  clear: both;
  display: block;
}

.reviews .review-item:nth-of-type(-n+2) {
  margin-top: 0;
}

.reviews .review-item:nth-of-type(odd) {
  padding-right: 8px;
}

.reviews .review-item:nth-of-type(even) {
  padding-left: 8px;
}

.buy {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buy .h2 {
  margin-bottom: 30px;
}

.buy .buy-item {
  border-radius: 5px;
  width: 30%;
  background: #445162;
  padding: 0 20px;
}

.buy .buy-item > * {
  padding: 18px 0;
}

.buy .buy-item .h2 {
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.buy .buy-item .price {
  color: #445162;
  background: #f5f5f5;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid #445162;
  margin-left: -20px;
  margin-right: -20px;
}

.buy .buy-item .option-list {
  list-style: none;
}

.buy .buy-item .option-list .option-item {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.buy .buy-item .buy-btn {
  padding: 0;
  margin-bottom: 18px;
  width: 100%;
  background-color: #f5f5f5;
  color: #445162;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
}

.contacts .h2 {
  color: #f5f5f5;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
}

.contacts .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .subscribe-form input,
.contacts .subscribe-form textarea {
  padding: 14px 10px;
  width: 100%;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contacts .subscribe-form textarea {
  height: 100px;
}

.contacts .subscribe-form button {
  width: 140px;
  height: 40px;
  background-color: #f5f5f5;
  color: #445162;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.contacts .skype,
.contacts .icq,
.contacts .email,
.contacts .phone {
  padding-left: 30px;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
}

.contacts .skype {
  background: url("../img/skype_icon.png") no-repeat left center;
}

.contacts .icq {
  background: url("../img/icq_icon.png") no-repeat left center;
}

.contacts .email {
  background: url("../img/email_icon.png") no-repeat left center;
}

.contacts .phone {
  background: url("../img/phone_icon.png") no-repeat left center;
}

.contacts .socialIcons {
  font-family: SocialIco, sans-serif;
  color: #f5f5f5;
  font-size: 60px;
  line-height: 44px;
}

.copy {
  height: 26px;
  text-align: center;
  color: #445161;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */