* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header,
article {
  padding: 50px 50px 60px;
}

.bg-dark {
  background-color: #445162;
}

.bg-white {
  background-color: #ffffff;
}

.right-block {
  position: absolute;
  height: 100%;
  width: 50%;
  padding: 50px 50px 60px;
  right: 0;
  top: 0;
}

.right-block > div {
  height: 100%;
}

.header {
  position: relative;
}

.h1 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
}

.h2 {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.h3 {
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 36px;
    text-align: center;
  }
}

.header .headerProductImg {
  width: 100%;
}

.product-list {
  margin-top: 50px;
  list-style: none;
}

.product-list .product-item {
  position: relative;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  padding-left: 35px;
}

.product-list .product-item:before {
  position: absolute;
  display: block;
  content: '';
  background: url(../img/check_icon.png) center center no-repeat;
  width: 24px;
  height: 100%;
  left: 0;
  top: 0;
}

.about {
  position: relative;
}

.about p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  max-width: 50%;
}

.about p:first-child {
  margin-top: 30px;
}

.about .aboutVideo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.pluses {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
}

.pluses .h2 {
  width: 100%;
  margin-bottom: 30px;
}

.pluses .plus-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pluses .plus-item .plus-icon {
  width: 32px;
  height: 32px;
  background: #445162;
  padding: 6px;
}

.pluses .plus-item p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 30px 10px;
}

.pluses div[class^=col-] {
  margin-top: 35px;
}

.pluses div[class^=col-]:nth-of-type(-n+2) {
  margin-top: 0;
}

@media (max-width: 992px) {
  .pluses div[class^=col-]:nth-of-type(2) {
    margin-top: 35px;
  }
}

.screenshots .h2 {
  margin-bottom: 30px;
}

.screenshots .screenshot-item {
  margin-top: 30px;
}

.scrinshots .scrinshot-item .image {
  float: left;
  width: 20%;
  height: 100%;
  margin-right: 15px;
}

.scrinshots .scrinshot-item p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 15px;
}

.scrinshots .scrinshot-item:after {
  display: table;
  content: '';
  clear: both;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .screenshots .screenshot-item {
    text-align: center;
  }
  .screenshots .screenshot-item:nth-of-type(2) {
    margin-top: 30px;
  }
  .screenshots .screenshot-item .screenshot-img {
    float: none;
  }
}

.reviews .h2 {
  width: 100%;
}

.reviews .review-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

.reviews .review-item .circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #445162;
  float: left;
}

.reviews .review-item blockquote {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-left: 16px;
  padding: 16px 16px 16px 25px;
  background: url(../img/bg_review.png) 0 0 no-repeat;
}

.reviews .review-item blockquote p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.reviews .review-item blockquote .author {
  color: #989898;
}

.reviews .review-item blockquote:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 27px;
  background: #ebebeb;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .review-item:after {
  content: '';
  clear: both;
  display: block;
}

.reviews .review-item:nth-of-type(-n+2) {
  margin-top: 0;
}

@media (max-width: 992px) {
  .reviews .review-item {
    text-align: center;
  }
  .reviews .review-item .review-img {
    float: none;
  }
  .reviews .review-item blockquote {
    margin-top: 15px;
    float: none;
    max-width: 100%;
    text-align: justify;
  }
  .reviews .review-item blockquote:before {
    left: calc(50% - 10px);
    top: -10px;
  }
  .reviews .review-item:nth-of-type(2) {
    margin-top: 20px;
  }
}

.buy {
  padding-left: 145px;
  padding-right: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buy .h2 {
  width: 100%;
}

.buy .buy-item {
  border-radius: 5px;
  width: 30%;
  background: #445162;
  padding: 0 20px;
}

.buy .buy-item > * {
  padding: 18px 0;
}

.buy .buy-item .h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.buy .buy-item .price {
  color: #445162;
  background: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid #445162;
  margin-left: -20px;
  margin-right: -20px;
}

.buy .buy-item .option-list {
  list-style: none;
}

.buy .buy-item .option-list .option-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.buy .buy-item .buy-btn {
  padding: 0;
  margin-bottom: 18px;
  width: 100%;
  background-color: #ffffff;
  color: #445162;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
}

@media (max-width: 992px) {
  .buy .buy-item {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .buy .buy-item {
    width: 100%;
    margin-top: 15px;
  }
  .buy .buy-item:nth-child(-n+1) {
    margin-top: 0;
  }
}

.contacts .h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  width: 100%;
  margin-bottom: 30px;
}

.contacts .subscribe-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .subscribe-form input,
.contacts .subscribe-form textarea {
  padding: 14px 10px;
  width: 100%;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contacts .subscribe-form textarea {
  height: 100px;
}

.contacts .subscribe-form button {
  width: 140px;
  height: 40px;
  background-color: #ffffff;
  color: #445162;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.contacts .skype,
.contacts .icq,
.contacts .email,
.contacts .phone {
  padding-left: 30px;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
}

.contacts .skype {
  background: url("../img/skype_icon.png") no-repeat left center;
}

.contacts .icq {
  background: url("../img/icq_icon.png") no-repeat left center;
}

.contacts .email {
  background: url("../img/email_icon.png") no-repeat left center;
}

.contacts .phone {
  background: url("../img/phone_icon.png") no-repeat left center;
}

.contacts .socialIcons {
  font-family: SocialIco, sans-serif;
  color: #f5f5f5;
  font-size: 60px;
  line-height: 44px;
}

@media (max-width: 992px) {
  .contacts .contacts-list {
    margin-top: 30px;
  }
  .contacts .socialIcons {
    font-size: 50px;
  }
}

.copy {
  height: 26px;
  text-align: center;
  color: #445161;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */