.mainVideo {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
}

.container {
    position: relative;
    z-index: 100;
}